<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>event</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
</head>
<body>
    <div class="container" ng-app="myApp">
        <h2>AngularJS - Event Demo</h2>
        <hr>
        <div ng-controller="myControl">
            <label for="">Nhap nam sinh: </label>
            <input type="number"  ng-model="yob" min="1960" > 
            <button type="button" class="btn btn-info" ng-click="display()">Click</button>
            <br>
            <p>{{message}}</p>
        </div>
    </div>
</body>

<script>
//lap trinh cho ung dung angular js
//tao bien dai dien cho ung dung angular js
var app = angular.module("myApp",[]);

//lap trinh cho controller co ten la salavi
app.controller("myControl", function($scope){
    $scope.yob=2003;
    $scope.display=function(){
        let d = new Date();
        let age = d.getFullYear()- $scope.yob;
        $scope.message = `You are ${age}-old-year.`; 
    }
});
</script>


</html>