<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form-validate</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <style>
        .error{
            color: red;
        }

        input.ng-pristine{
            background-color: yellow;
        }
        input.ng-touched.ng-invalid{
            color: red;
        }
        input.ng-touched.ng-valid{
            color: blue;
        }       
    </style>
</head>
<body>
    <div class="container" ng-app="myAPP" ng-controller="myCTR">

        <div class="row">

            <div class="col-md-6">
                <h2>Sign-on</h2>
                <hr>
        
                <form name="myForm" ng-submit="addRow()" >       
                    <div class="form-group">
                        <label for="">Student ID: </label>
                        <input type="text" name="id" ng-model="id" required 
                        class="form-control"
                        placeholder="input student ID" pattern="S\d{2}">
        
                        <span class="error" ng-show=myForm.id.$error.required>ID is required.</span>
        
                        <span class="error" ng-show=myForm.id.$invalid> / Student ID has format Sxx, x:digit</span>
                    </div>
        
                    <div class="form-group">
                        <label for="">student name: </label>
                        <input type="text" name="name" ng-model="name" required
                        class="form-control"
                        placeholder="input student name">
                        <span class="error" ng-show=myForm.name.$error.required>name is required.</span>
                    </div>
        
                    <div class="form-group">
                        <label for="">mark: </label>
                        <input type="number" name="mark" ng-model="mark" required
                        class="form-control"
                        placeholder="input mark" min="0" max="100">
        
                        <span class="error" ng-show=myForm.mark.$error.required>Mark is required.</span>
                        <span class="error" ng-show=myForm.mark.$invalid>Mark is between 0 and 100.</span>
                    </div>
        
                    <div>
                        <input type="submit" value="submit" class="btn btn-danger">
                        <input type="reset" value="reset" class="btn btn-info">
                    </div>
        
                </form>

            </div>

            <div class="col-md-6">
                <h2>Student List</h2>
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>student id</th>
                            <th>student name</th>
                            <th>final mark</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ds">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.mark}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>

    <script>
        let app = angular.module("myAPP",[]);
        app.controller("myCTR", function($scope, $http){
            $http.get("student.json").then(function(response){
                $scope.ds = response.data;
            });

            $http.get("http://ergast.com/api/f1/2019/circuits.json").then(function(response){
                console.log(response.data.MRData.CircuitTable.Circuits);
            });
            

            $scope.addRow=function(){
                $scope.ds.push({"id":$scope.id, "name":$scope.name, "mark":$scope.mark});
            }
        });
    </script>
</body>
</html>